
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_container {
    background-color: #384959;
    padding: 30px;
    text-align: center;
    font-size: large;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 20px;
}

.search_container {
    background-color: #233544;
    padding: 10px;
    text-align: center;
    color: white;
}

#form {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
    flex-wrap: wrap;
}

.search, .sort-dropdown {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
}

.sort-dropdown {
    cursor: pointer;
    background-color: #f0f0f0;
}

.body_container {
    background-color: #dbdee0;
    padding: 30px;
    text-align: center;
    color: #384959;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.movie-card {
    background-color: #ffffff;
    color: #333;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow: hidden;
    font-family: 'Arial', sans-serif; 
    font-weight: bold;
}

.movie-poster {
    width: 100%;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.movie-card h3 {
    margin: 10px 0;
    font-size: 1.1rem;
}

.movie-card p {
    margin: 5px 0;
    color: #555;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 10px 30px;
    align-items: center;
    color: black;
}

#prev, #next {
    padding: 15px 30px;               /* Same padding to make buttons equal size */
    border: 2px solid lightblue;      /* Light blue border */
    background-color: #384959;        /* Dark background */
    color: white;                     /* White font */
    border-radius: 8px;               /* Rounded corners */
    font-size: 1rem;                  /* Standard font size */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#prev:hover, #next:hover {
    background-color: #555;           
}

.page_disabled {
    cursor: not-allowed;
    color: gray;
    background-color: #f0f0f0;
}


.current {
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    color: black;                     
}
